Challenges/challenge_3 TinyOS + Node-RED/node-RED flow.json
[
    {
        "id": "5eacdc5ed292356f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4323b9b515981ee0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263de4e0665ae638",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edfef5e6bfc3a645",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "DykMND0zCwIuPCIAATgvLSI",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bccfe63d3161a5af",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a5868701a676ffe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c98196ddc26acd53",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "163824fbbf2108fc",
        "type": "ui_group",
        "name": "Default",
        "tab": "7a5868701a676ffe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "189981ededce022a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "735c3d319e2bf954",
        "type": "inject",
        "z": "5eacdc5ed292356f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "89c54faa8a34fff9"
            ]
        ]
    },
    {
        "id": "89c54faa8a34fff9",
        "type": "file in",
        "z": "5eacdc5ed292356f",
        "name": "",
        "filename": "/home/francesco/Downloads/iot-feeds.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "38efecb036c90239"
            ]
        ]
    },
    {
        "id": "38efecb036c90239",
        "type": "csv",
        "z": "5eacdc5ed292356f",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "code, field1, field2, field3, field4, field5, field6, field7",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "d084424bd83fac01",
                "6f9c128b8eda917e"
            ]
        ]
    },
    {
        "id": "d084424bd83fac01",
        "type": "function",
        "z": "5eacdc5ed292356f",
        "name": "",
        "func": "\nif (msg.payload.code >= 138 && msg.payload.code <= 138+99){\n    \n    field1 = msg.payload.field1;\n    field2 = msg.payload.field2;\n    field5 = msg.payload.field5;\n    channel_id = 1712048\n    \n    msg.payload ='field1='+field1+'&field2='+field2+'&field5='+field5+'&status=MQTTPUBLISH';\n    msg.topic = 'channels/'+channel_id+'/publish/';\n    \n    return msg\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "8290d7aa868538b7"
            ]
        ]
    },
    {
        "id": "fa9d3d9f6c497939",
        "type": "debug",
        "z": "5eacdc5ed292356f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "cd3ed3819392640b",
        "type": "mqtt out",
        "z": "5eacdc5ed292356f",
        "name": "",
        "topic": "channels/1712048/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edfef5e6bfc3a645",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "8290d7aa868538b7",
        "type": "delay",
        "z": "5eacdc5ed292356f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "cd3ed3819392640b",
                "fa9d3d9f6c497939"
            ]
        ]
    },
    {
        "id": "58236c2a64f8407d",
        "type": "debug",
        "z": "5eacdc5ed292356f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "6f9c128b8eda917e",
        "type": "function",
        "z": "5eacdc5ed292356f",
        "name": "",
        "func": "\nif (msg.payload.code >= 138 && msg.payload.code <=237){\n\nfield5 = msg.payload.field5;\nmsg.topic = 'field5';\nmsg.payload = field5;\nreturn msg\n}\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "a8b45aed0d68c2b0"
            ]
        ]
    },
    {
        "id": "a8b45aed0d68c2b0",
        "type": "delay",
        "z": "5eacdc5ed292356f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "58236c2a64f8407d",
                "7864b702157122b9"
            ]
        ]
    },
    {
        "id": "7864b702157122b9",
        "type": "ui_chart",
        "z": "5eacdc5ed292356f",
        "name": "",
        "group": "163824fbbf2108fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5d5b12f9ed6c98da",
        "type": "tcp in",
        "z": "263de4e0665ae638",
        "name": "",
        "server": "client",
        "host": "mainettihost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "dc3c2c799ab7c7b0",
                "24e16ad2c6e0f74f"
            ]
        ]
    },
    {
        "id": "dc3c2c799ab7c7b0",
        "type": "debug",
        "z": "263de4e0665ae638",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "58b86621d4a08508",
        "type": "mqtt out",
        "z": "263de4e0665ae638",
        "name": "",
        "topic": "channels/1726996/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edfef5e6bfc3a645",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "24e16ad2c6e0f74f",
        "type": "function",
        "z": "263de4e0665ae638",
        "name": "",
        "func": "\n\n\n    field1 = msg.payload.charAt(0);\n    field2 = msg.payload.charAt(2);\n    field3 = msg.payload.charAt(4);\n    channel_id = 1726996\n    \n    msg.payload ='field1='+field1+'&field2='+field2+'&field3='+field3+'&status=MQTTPUBLISH';\n    msg.topic = 'channels/'+channel_id+'/publish/';\n    \n    return msg\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "58b86621d4a08508"
            ]
        ]
    }
]