Project/node-RED flow.txt
[{"id":"587c900c.254ef8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"660daa4a.08d23c","type":"debug","z":"587c900c.254ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":300,"wires":[]},{"id":"9550e444.a0cec","type":"exec","z":"587c900c.254ef8","command":"cd Desktop/SmartBracelets/; python RunSimulationScript.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TOSSIM sim","x":590,"y":300,"wires":[["b74a6c49.06675"],["b74a6c49.06675"],["b74a6c49.06675"]]},{"id":"82e0cdf1.8e24","type":"inject","z":"587c900c.254ef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":300,"wires":[["9550e444.a0cec"]]},{"id":"b74a6c49.06675","type":"split","z":"587c900c.254ef8","name":"","splt":"DEBUG","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":300,"wires":[["b13087d2.58a63"]]},{"id":"b13087d2.58a63","type":"switch","z":"587c900c.254ef8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ALARM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":300,"wires":[["660daa4a.08d23c","f80f8358.a67fe8"]]},{"id":"f80f8358.a67fe8","type":"ui_text","z":"587c900c.254ef8","group":"c98b5b75.b91158","order":0,"width":0,"height":0,"name":"Alert Dashboard","label":"ALERT","format":"{{msg.payload}}","layout":"col-center","x":1120,"y":240,"wires":[]},{"id":"c98b5b75.b91158","type":"ui_group","z":"","name":"Default","tab":"76663b15.098cec","disp":true,"width":"6","collapse":true},{"id":"76663b15.098cec","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]